{% extends "blog/base.html" %}
{% block content %}
<h2 style="text-align:center">Contact</h2>
<div class="row">
  <div class="column">
      <div class="content-section">
        <h2 class="article-title">Nicholas Patrick Suyat</h2>
        <p class="title"> Email: Nicholaspatricksuyat@gmail.com</p>
        <p>Number: (719) 648-0339</p>
        <p>LinkedIn: https://www.linkedin.com/in/nicholas-patrick-suyat-5b2065247/</p>
        <p>Github: https://github.com/NicholasPatrickSuyat</p>
    </div>
  </div>
</div>
{% endblock content%}